extends layout.pug

block content

  article.portfolio-intro

    h1 Let's make the web great together!

    p Hello. This is a collection of my work in the course of learmiing fullstack JavaScript.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_url[0]}`, alt='project image' height="250px")
            h5= `${project.project_name}`

