extends layout.pug

block content
    nav.nav
        a(href='/')
            span &larr;
            |  Back
    h1.error= `404 - Page Not Found`
    p.error= `${err.message}`
    img.error_img(src='/images/404_Error.jpg')